* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 1rem;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
}
body {
  position: relative !important;
}

/* header {
  background: blue;
  padding-top: 10px;
} */

.Header {
  background: #00306e;
  height: fit-content;
  padding: 10px;
  padding-left: 70px;
}
#topbar {
  background: #00306e;
  height: 40px;
  font-size: 1rem;
  transition: all 0.5s;
  color: #555;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.contacts {
  color: white;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.Qlinks {
  display: flex;
  gap: 15px;
  align-items: center;
}
.Qlinks a {
  text-decoration: none;
  color: white;
}

nav {
  background: white;
  margin: 5px;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

nav .logo {
  width: 100px;
  height: 50px;
  align-items: center;
  padding: 0;
  /* background-image: url(https://logicglide.s3.amazonaws.com/public/schoolnotionlogodark.png);
  background-size: cover;
  background-repeat: no-repeat; */
}

nav span {
  font-size: 27px;
  font-weight: 600;
  background: blue;
  padding: 2px;
  padding-inline: 12px;
  cursor: pointer;
  color: white;
  border-radius: 9px;
  display: none;
  margin-right: 9px;
}
.navLinks {
  position: relative;
  right: 20px;
  margin: 0;
  justify-self: end;
  /* border: 1px solid blueviolet; */
}
.navLinks span {
  font-size: 27px;
  font-weight: 600;
  /* background: blue; */
  padding: 2px;
  padding-inline: 12px;
  cursor: pointer;
  color: black;
  /* border-radius: 9px; */
  display: none;
}

.navLinks ul {
  display: flex;
  flex-direction: row;
  gap: 19px;
}
.navLinks ul {
  list-style: none;
  padding: 20px;
}
.navLinks ul li a {
  text-decoration: none;
  color: blue;
}
.navLinks ul li a:hover {
  color: orange;
}

/* hero section */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.wrapper,
.wrapper2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.wrapper .description {
  flex: 58%;
  /* display: flex;
  flex-direction: column; */
  border: 1px solid red;
  padding-left: 9px;
}
.description h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.5px;
  line-height: 68px;
}
.description h1 span {
  color: #00e1b8;
}
.description ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.description ul li {
  color: #fff;
  list-style: none;
  padding-bottom: 10px;
}
.description ul li i {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.description a {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 15px 26px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  text-decoration: none;
  background-color: #1f60b4;
  color: #fff;
  margin-left: 5.5rem;
}
.description a:hover {
  background-color: #f89e15;
  color: white;
}
.wrapper2:not(:last-child) {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.wrapper .picture {
  flex: 42%;
  border: 1px solid red;
}
.picture {
  flex: 44%;
  border: 1px solid red;
}
.description {
  flex: 56%;
  border: 1px solid red;
  padding: 9px;
}

.welcome {
  padding: 50px 0;
}
.welcome .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.animate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate img {
  width: 100%;
}

.wrapper2 {
  width: 90%;
}
.section-title {
  text-align: center;
  margin-bottom: 20px;
}
.section-title h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 0;
  color: #00306e;
  line-height: 34px;
  letter-spacing: 0.5px;
}
.yellow {
  color: #f89e15;
}
.sub-text {
  color: #222222;
  padding: 8px 0px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.6px;
}

.videos {
  display: flex;
  height: 480px;
}
.animate,
.video {
  flex: 50%;
  height: 100%;
}
.features-1 {
  width: 80%;
  margin: auto;
  text-align: center;
}
.features-1 h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #00306e;
  line-height: 34px;
  letter-spacing: 0.5px;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid red;
}
.children {
 
  margin: 20px;
  box-shadow: 0px 0px 20px rgb(228, 224, 224);
  border-radius: 10px;
  font-weight: 400;
  line-height: 1.5;
  padding: 30px;
  letter-spacing: 0.15px;

}
.children p {
  color: #555;
  font-size: 20px;
  margin-top: 10px;
  opacity: 1;
  margin-top: 20px;
}
.children h3 {
  margin-top: 20px;
  font-size: 20px;
}

@media (max-width: 700px) {
  .contacts {
    display: none;
  }
  #topbar {
    display: flex;
    justify-content: center;
  }
  .navLinks ul {
    display: block;
  }
  .navLinks ul li {
    margin-bottom: 9px;
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 9px;
  }
  .animate {
    display: none;
  }
  .video {
    flex: 100%;
  }

  nav span,
  .navLinks span {
    display: block;
  }
  .navLinks {
    position: fixed;
    /* height: 100vh; */
    width: 200px;
    right: -200px;
    background-color: rgba(0.4, 0.4, 0.4, 0.2);
    backdrop-filter: blur(10px);
    top: 6%;
    transition: 1s;
    /* right: -200px; */
    z-index: 2;
  }
  .navLinks ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navLinks ul li {
    text-align: center;
    width: 100%;
  }
  .navLinks ul li a {
    font-size: 20px;
    font-weight: 700;
    color: silver;
    text-shadow: #fff, black;
  }

  .navLinks ul li ::after {
    content: "";
    background: white;
    display: block;
    width: 0%;
    height: 2px;
    transition: 0.5s;
    margin: auto;
  }

  .navLinks ul li :hover::after {
    width: 100%;
  }
  .navLinks span {
    text-align: right;
    z-index: 2;
    color: silver;
    background-color: initial;
    /* border: 1px solid red; */
  }
  .Header {
    padding: 0;
    /* padding-left: 20px; */
  }
  nav {
    margin: 0;
  }
  .wrapper {
    flex-direction: column-reverse;
    margin-inline: 5px;
  }
  .description,
  .picture {
    flex: 100%;
  }
  .description h1 {
    font-size: larger;
    text-align: center;
  }
  /* .description ul li {
    font-size: small;
  } */
  /* #topbar {
    display: none;
    } */
  .parent {
    display: grid;
    grid-template-columns: 1fr;
   
  }
 .footer-container{
 display: flex;
flex-direction: column;
 }
 .footer-container{
 
 
  position: relative;
  left: 50PX;

}
.about-content{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
 
}
.content strong 
h3{
  text-align: center;
  margin-top: 5%;
}
}

@media (max-width: 4500px) {
  .navLinks {
    top: 4.4%;
  }
}

.footer{
  background-color:#222253;
  height: 100%;
  margin-top: 50px;
  width: 100%;
  padding-top: 30px;
}
.footer h4{
  text-align: center;
  color: #fff;
  padding: 20px;
}
.footer-container{
  width: 80%;
  margin: auto;
display: flex;
justify-content: space-between;

}
.footer-child1{
  margin-bottom: 30px;
}
.footer-child1 img{
  width: 180px;
  height: 100px;
  margin-left: 10px;
 margin-bottom: -10px;
}
.footer-goggle :hover {
  scale: 1.1;
  transition: 1s;
  
}
.footer-child1 div .fa{
  background-color: #3498db;
  padding: 20px;
  margin: 5px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  color: #fff;
  align-items: center;
}
.footer-child1  :hover.fa {
  transition: 1s;
  scale: 1.1;
  
}
.footer-goggle img{
  width: 200px;
  margin-top: 20px;
  height: 70px;
}
.footer-child2{
  margin-top: 30px;
}
.footer-child2 h3{
  padding-bottom: 10px;
  color: #fff;
  margin-left: -4px;
}
.footer-child2 ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}
.footer-child2 ul li {
  padding-bottom: 40px;
  list-style : none;

}
.footer-child2 ul li :hover{
  color: #f89e15;
}
.footer-child2 .fa{
 color: #fff;
 margin-right: 10px;
 font-size: 25px;
}
.footer-child2 div{
 
margin-bottom: 50px;
}
.footer-child2 span{
  color: #fff;
 
}
/*About page*/
.about-page{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}
.about-page h2{
padding-bottom: 20px;
color: #00306e;
}
.about-page p{
  padding-bottom: 20px;
  }
.about-content{
  display: flex;
  margin-top: 5%;
}
.content{
  flex-basis: 52%;
}
.content 
h3{
  text-align: left;
  margin-top: 5%;
}
.content p{
  font-size: 0.8rem;
    text-align: left;
    margin-top: 2%;
}
.content img{
width: 70%

}
 
